.swal2-styled.swal2-confirm {
    color: #FFFFFF;
    background: #136c62;
    border-radius: 2px;
}

.swal2-styled.swal2-deny {
    color: #FFFFFF;
    background: #932d2d;
    border-radius: 2px;
}

.swal2-styled.swal2-cancel{
    color: #222628;
    border-radius: 2px;
}

.swal2-image {
    margin-top: auto;
    margin-bottom: auto;
}

.swal2-popup {
    min-height: 40vh;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}